.App {
  text-align: center;
  height: 100%;
}

.app_app-bar {
  position: fixed;
  bottom: 0;
  height: 56px;
}

.app_app-switch {
  height: calc(100% - 56px);
}

.app_app-switch.keyboard-shown {
  height: 100%;
}
